@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

section[epub|type~="dedication"] p:first-of-type{
	font-variant: small-caps;
	line-height: 2;
	margin-bottom: 2.5em;
}

section[epub|type~="dedication"] p:last-of-type{
	font-size: .75em;
	text-indent: 0;
}

section[epub|type~="dedication"] span{
	font-size: 1.25em;
}

q{
	font-style: italic;
}
