@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

section[epub|type~="dedication"] p:first-of-type{
	font-variant: small-caps;
	line-height: 2;
	margin-bottom: 2.5em;
}

section[epub|type~="dedication"] p:last-of-type{
	font-size: .75em;
	text-indent: 0;
}

section[epub|type~="dedication"] span{
	font-size: 1.25em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}

[epub|type~="epigraph"] span.elision{
	font-style: normal;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

q{
	font-style: italic;
}
